/* index.html */

* {
    margin: 0;
    padding: 0;
}
body {
    background: rgba(249,221,197,1);
    background: linear-gradient(0deg, rgba(249,221,197,1) 0%, rgb(255, 133, 111) 100%);
    max-width: fit-content;
    box-sizing: border-box; /* Always change box-sizing from content-box (default) to border-box */
    color:rgb(85, 21, 21);
    font-family: Roboto, Georgia, cursive, 'Times New Roman', Times, serif;
    padding-left: 4%;
    margin: auto;
}

.side-line {
    border-left: 3px solid #FFCF9D;
    border-radius: 15px;
    background-color: rgba(172, 83, 25, 0.15);
    background-blend-mode: darken;
    padding-bottom: 1px;
}

h1 {
    padding: 30px;
    margin-top: 30px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 32px;
    text-decoration: dashed blue;
    text-decoration-line: underline;
    border-bottom: 3px solid #FFCF9D;
    background-color: #FFCF9D;
    border-radius: 15px 15px 15px 0;
}

div.box {
    display: flex;
    margin: 39px;
    padding: 12px;
    border: brown 21px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    background: rgb(255, 146, 142);
    background: linear-gradient(0deg, rgb(255, 146, 142) 0%, rgb(255, 111, 111) 100%);
    background-blend-mode: normal;
}

li {
    list-style-type:none;
}

a {
    color:#FFCF9D;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

img {
    max-width: 210px;
    max-height: 110px;
    border: #FFB38E 2px;
    border-radius: 9px;
    align-items: center;
}

button {
    width: 240px;
    height: 150px;
    margin: 9px;
    background-color: brown;
    border: 3px;
    border-radius: 5%
}

 p {
    margin-left: 10px;
 }
 
#magnyx {
    inline-size: auto;
    width: fit-content 5px;
    height: fit-content 5px;
    margin: 33px;
    padding:9px 9px 9px 21px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(190, 87, 87);
    color: antiquewhite;
    font: 54;
    font-family: 'Times New Roman', Times, serif;
}

strong {
    color: inherit;
}

i {
    color: inherit;
}

#references {
    margin:33px;
    flex: content;
    text-indent: 19px;
}

/* ./Pages */

.margin-box{
    padding: 10px auto;
    margin: auto;
    max-width: 850px;
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 15px;
}

.demonstration {
    display: block;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: rgba(0, 0, 255, 70%) dashed 3px;
    padding: 1px;
}

.quote {
    text-align: center;
}

hr {
    max-width: 600px;
    margin: 3px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2.1px dashed blue;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.diamond {
   list-style-type: square;
   margin: 30px;
}

h3.go-back-container {
    margin-top: 15px;
    margin-bottom: 15px;
}
.go-back {
    color: orangered;
    font-size: larger;
}